.calculator {
  width: 20rem;
  height: 30rem;
  background-color: lightcyan;
  /* display: grid; */
  padding: 1%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  border: ridge;
}

/* .box-input {
  border-color: black;
  border: ridge;
  text-align: right;
  padding-right: 10%;
  font-weight: bold;
  font-size: xx-large;
} */

.main-container {
  border-color: black;
  border: ridge;
  text-align: right;
  padding-right: 10%;
  font-weight: bold;
  font-size: xx-large;

  display: flex;
  padding: 20px;
  margin: 0;
  list-style: none;
  background: orange;
  flex-direction: row;
  justify-content: center;
}

.second-container {
  display: flex;
  padding: 100px;
  margin: 0;
  list-style: none;

  justify-content: center;
}

.container-button {
  display: flex;
  border: 1px solid #fff;
  flex-direction: column;

  align-items: center;

  /* padding: 20px;
  width: 200px;
  height: 150px;
  margin-top: 10px;
  line-height: 150px; */
  color: white;
  font-weight: bold;
  font-size: 3em;
  text-align: center;
}
